package ${packageName}.domain.entity;

import com.abc.common.domain.entity.BaseEntity;
import com.baomidou.mybatisplus.annotation.TableId;
import com.baomidou.mybatisplus.annotation.TableName;
import io.swagger.annotations.ApiModelProperty;
import lombok.AllArgsConstructor;
import lombok.Builder;
import lombok.Data;
import lombok.NoArgsConstructor;

/**
 * ${functionName}实体
 *
 * @author ${author}
 * @date ${datetime}
 */
@Data
@Builder
@TableName("${tableName}")
@AllArgsConstructor
@NoArgsConstructor
public class ${ClassName} extends BaseEntity {

#foreach ($column in $filterColumns)
#if($column.isPk)
    @TableId
    @ApiModelProperty("$column.columnComment")
    private $column.javaType $column.javaField;

#else
    @ApiModelProperty("$column.columnComment")
    private $column.javaType $column.javaField;

#end
#end

}
